/* PHASE 3: Layout */
.content {
  display: flex;
  flex-direction: row;
}

.content-main {
  margin: 50px;
  padding: 50px;
  min-height: 200px;

}

.content-sidebar {
  margin: 10px;
  padding: 10px;
  min-height: 200px;
}